:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ebecee;
  --primary: #00c2a8;
  --secondary: #0084ff;
  --accent: #f9a826;
  --bubble: #ccc;
  --neutral: #fafafa;
  --black: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.alert {
  display: flex;
  background-color: rgb(246, 65, 65);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 8px;
  width: 100%;
  border-bottom: 4px solid var(--accent);
  z-index: 100;
}

.header #leftmodal {
  width: 12%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.header h3 {
  font-size: 2.2rem;
  font-weight: bold;
  align-self: center;
  color: var(--neutral);
}

.header #emergency {
  background-color: red;
  border: none;
  border-radius: 6px;
  color: var(--neutral);
  width: 12%;
  padding: 5px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.8rem;
  overflow-y: scroll;
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-header span {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
}

.sentry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.sentry img {
  height: 20rem;
}

.sentry h2 {
  color: var(--neutral);
}

.slider .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.text span {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  margin: 1rem 0;
  color: var(--black);
}

.text p {
  background: rgba(160, 159, 159, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.9px);
  -webkit-backdrop-filter: blur(0.9px);
  border: 1px solid rgba(160, 159, 159, 0.69);
  width: 90%;
  border: 1px solid var(--neutral);
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.slider button {
  width: 60%;
  color: var(--neutral);
  background-color: var(--secondary);
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  transition: 0.2s all ease-in;
}

.slider button:hover {
  width: 62%;
  padding: 11px;
  background-color: var(--secondary);
}

.chat-container {
  position: fixed;
  top: 60px;
  bottom: 70px;
  left: 0;
  right: 0;
  overflow: hidden;
  /* padding: 0 10px; */
  /* padding-top: 100px; */
}

.messages {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.message {
  max-width: 76%;
  padding: 10px 14px;
  border-radius: 14px;
  margin: 2px 0;
  font-size: 14px;
  display: inline-block;
  overflow-y: auto;
}

.bot {
  background-color: var(--bubble);
  border-bottom-left-radius: 4px;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}

.user {
  background-color: var(--bubble);
  margin-left: auto;
  align-self: flex-end;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: flex-end;
}

/* .messages .bot {
  background-color: var(--secondary);
  width: 60%;
  padding: 12px;
} */

.input-area {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bubble);
  padding: 10px;
  display: flex;
  gap: 6px;
  z-index: 100;
}

#chatinput {
  display: flex;
  resize: none;
  flex: 0.9;
  padding: 6px;
  border-radius: 20px;
  outline: none;
  border: 2px solid var(--neutral);
}

#sendbtn {
  flex: 0.2;
  padding: 1px;
  font-size: 1.4rem;
  background-color: var(--secondary);
  color: var(--neutral);
  border: none;
  border-radius: 50%;
}

#chatinput::placeholder {
  font-size: 1rem;
}

h5 {
  font-size: 1.4rem;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

h5 span {
  font-size: 1.6rem;
  color: var(--secondary);
}

.modal-body .form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-body .form .form-control {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  border: none;
}

.form-control label {
  font-size: 1.1rem;
  color: var(--black);
}

.form-control input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--black);
}

.form a {
  align-self: flex-end;
  margin-top: 0.5rem;
}

.form .btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: auto;
}

.form button {
  padding: 8px;
  background-color: var(--secondary);
  border: none;
  color: var(--neutral);
  border-radius: 4px;
}

.form .btns #submitbtn {
  width: 30%;
}

.form .btns #googlebtn {
  width: 60%;
}

.modal-footer #switch-auth {
  background-color: transparent;
  color: rgb(130, 78, 213);
  border: none;
  text-decoration: underline;
  outline: none;
}

.hidden {
  display: none;
}
